// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.title-bar {
    padding: 0;
}

.title-bar-description {
    color: $white;
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-size: 75%;
}

.desktop-menu,
.site-navigation .top-bar-left,
.site-navigation .top-bar-right,
.site-navigation .top-bar-right .menu-item {
  @include show-for(medium);
  background: #2c3840;
}

.site-navigation .top-bar-left {
    margin-left: 3rem;
}

.site-navigation .top-bar-right {
    margin-right: 3rem;
}

.site-navigation .top-bar-left .top-bar-title a,
.site-navigation .top-bar-right a,
.site-navigation .top-bar-right .menu-item a {
  color: $white;
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  font-weight: bold;
}



// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}


.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}



// Tablet and desktop menu
.desktop-menu {

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
  background: #2c3840;
}

.top-bar-right {
  background-color: #2c3840;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
